<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />

	<title> Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/css/app.css">
</head>

<body>
	<% if (user) { %>
	   <%- include('./partials/headerLogueado'); %>
	<% } else { %>
	   <%- include('./partials/header'); %>
	<% } %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/producto/add" method="post">
			
				<label>Imagen (Nombre del archivo):</label>
				<input type="text" id="imagen" name="imagen" required>
				<br><br>
			
				<label>Nombre del Producto:</label>
				<input type="text" id="nombre_producto" name="nombreProducto" required>
				<br><br>
			
				<label>Descripción:</label>
				<textarea id="descripcion" name="descripcion" required></textarea>
				<br><br>
			
				<label>Precio:</label>
				<input type="number" id="precio" name="precio" required min="0">
				<br><br>
			
				<button type="submit">Agregar Producto</button>
				<input type="hidden" name="usuarioId" value="<%= user.id %>">
			</form>
			
			
			  


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>